<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.0.7" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2014.1.474" targetFramework="net45" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net45" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net45" />
</packages>